services:
  traffic-app:
    build: .
    container_name: traffic-app
    ports:
      - "8080:8080"
    environment:
      - SPRING_PROFILES_ACTIVE=docker
      - K6_OUT=csv
    command: ["processor"]
